.bg-container{
    padding:10% 35%;
    background-color: rgb(231, 231, 229);
    height:100vh;
}
.form-control{
    width:300px;
    margin-bottom:10px;
}
.label{
    text-align: left;
}
// .btn{
//     margin-top: 30px;
//     margin-left: 150px;
//     width:140px;
// }
.heading{
    margin:20px 0px;
    color:rgb(3, 1, 1);
}
p{
    margin-bottom: 20px;
    margin-right: 50px;
}

.mat-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width:450px;
    padding: 0px 50px ;
    background-color: aliceblue;
}
.primary{
    margin-right: 20px;
}