.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bg-container{
    height: 150vh;
    padding-top: 5%;
    background-image: url('../assets/bookstore/library4.jpg');
    background-size: cover;
}
.btn-primary{
    margin: 0px 30px;
    height: 40px;
    width: 200px;
}
.home{
    margin: 0px 30px;
    height: 40px;
    width: 130px;
}
.log{
    margin: 0px 30px;
    height: 40px;
    width: 130px;
}
.img-container{
    margin-left:30%;
}
.image{
    margin:30px;
    width:200px;
    height:200px;
}
.faqs{
    margin-left: 30%;
    h1{
        text-decoration: underline;
        background-color: yellow;
    }
}
