
<div class = "bg-container">
    <div class = "images p-3">
        <div class = "img-container">
            <img src = "../assets/bookstore/harry.jpg" class = "image"/>
            <img src = "../assets/bookstore/brain.jpg" class = "image"/>
            <img src = "../assets/bookstore/harry.jpg" class = "image"/>
            <img src = "../assets/bookstore/harry.jpg" class = "image"/>
            <img src = "../assets/bookstore/brain.jpg" class = "image"/>
            <img src = "../assets/bookstore/harry.jpg" class = "image"/>
            <img src = "../assets/bookstore/harry.jpg" class = "image"/>
            <img src = "../assets/bookstore/brain.jpg" class = "image"/>
            <img src = "../assets/bookstore/harry.jpg" class = "image"/>
        </div>
    </div>
    
    
</div>
