
<router-outlet></router-outlet>
<!-- flex-layout: column,column-reverse, row, row-reverse; 
fxLayoutGap: (value in px) that difines distance between elements ;
 fxLayoutAlign: <main axis> <cross axis> ;
 fxFlex :Stretches more, fxFlex fxFlexOfset: stretches upto mentioned width ;
 fxFlexAlign:  value can be(start,center,end) this property reduces the stretching and defines position of the element;
fxShow,fxHide : value can be true or false , main use of this property is If we want hide or show our components based on the devices(from small to extra-large), we can use this; -->