
<div class = "bg-container">
    <mat-card class = "mat-card">
        <h1 class = "heading">Log In Here</h1>
        
        <!-- <input type = "text" class = "text form-control" placeholder="Enter your Mobile Number Here"  [value] = mobileNumber #mobile> -->
        <form action="" class="example-form" (submit)="changeMobile(mobile.value)">
            <mat-form-field  class = "mobile">
                <mat-label>Mobile Number</mat-label>
                <input matInput placeholder="Enter Your Mobile No" [value] = mobileNumber #mobile >
              </mat-form-field>
              <p class = "err">{{mr}}</p>
        </form>
        <p *ngIf = "p.length >0">Your Password is : {{p}}</p>
       
        
        <!-- <a href = './header'mat-raised-button color="primary">Login</a> -->
        <a mat-raised-button color="primary" (click) = "changeMobile(mobile.value)" class = "button">Check Password</a>
        <a *ngIf = "login" mat-raised-button color="primary" routerLink="../login" class = "button">Go to Login</a>
        <a *ngIf = "signup" mat-raised-button color="primary" routerLink="../signup"class = "button">Sign Up Here</a>

        
        
    </mat-card>
</div>