.bg-container{
    padding:10% 35%;
    background-image: url('../assets/signup.jpg');
    height:100vh;
}
.form-control{
    width:300px;
    margin-bottom:40px;
}
.label{
    text-align: left;
}
// .btn{
//     margin-top: 30px;
//     margin-left: 150px;
//     width:140px;
// }
.heading{
    margin:20px 0px;
    color:rgb(3, 1, 1);
}

.mat-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width:400px;
    padding: 0px 50px ;
    background-color: aliceblue;
}
