<div class = "bg-container">
    <mat-card class = "mat-card">
        <form class="example-form">
            <h1 class = "heading">Sign Up Here </h1>
            <mat-card fxLayout="column" fxLayoutGap="10px">
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label>Mobile Number</mat-label>
                  <input matInput placeholder="Enter Your Mobile No" (input)="changeMobile(mobile.value)" [value] = mobileNumber #mobile (blur)="checkMobile()" >
                </mat-form-field>
                <p class = "err">{{mobileErrMsg}}</p>
              </div>
              
            
              <div>
                <mat-form-field  class="example-full-width">
                  <mat-label>Enter Your Password</mat-label>
                  <input matInput placeholder="Enter Your Password" type="password" (input)="changePassword(password.value)"  #password (blur)="checkPassword()">
                </mat-form-field>
                <p class = "err">{{passwordErrMsg}}</p>
              </div>
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label>Confirm Your Password</mat-label>
                  <input matInput placeholder="Enter Your Password again" type="password" (input)="changePassword(password1.value)"  #password1 (blur)="confirmPassword()">
                </mat-form-field>
                <p class = "err">{{password1ErrMsg}}</p>
              </div>
            </mat-card>
          </form>
          
        <a  mat-raised-button color="primary" routerLink="../login"  class = "mt-2" (click) = "checkSignUp()">Sign Up</a>
        <p>{{showSuccess}}</p>
        
     </mat-card>
   
</div>
<!-- 11 -->