
<div class = "bg-container">
    <mat-card class = "mat-card">
        <h1 class = "heading">Sign Up Here</h1>
        
        <input type = "text" class = "text form-control" placeholder="Enter your Mobile Number">
       
        <input type = "password" id = "password"class = "text form-control" placeholder="Enter your Password">
        <input type = "password" id = "password"class = "text form-control" placeholder="Confirm your Password">
        <!-- <a href = './header'mat-raised-button color="primary">Login</a> -->
        <a routerLink="/login" mat-raised-button color="primary">Sign Up</a>
    </mat-card>
</div>