
<div class = "bg-container">
    <div>
        <h1 href="./header" class = "logo">Purchase Books</h1>
    </div>
    <div>
        <mat-card class = "card">
            <h1 class = "heading">One best book is equals to hundred good friends but one good friend is equals to library.<br></h1>
    <h1 class = "heading2">‒ APJ Abdul Kalam</h1>
        </mat-card>
    <div class = "container">
        <h1 class = "heading3">Do Wanna Explore New Books? Click Below</h1>
    <a  href="./login" class = "btn  btn-primary">Login Now</a>
    </div>
    </div>

</div>